  <nav class="teal darken-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo todo-logo">Todos</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isIndex}}
        <li class="active"><a href="/">Todos</a></li>
        {{else}}
        <li><a href="/">Todos</a></li>
        {{/if}}

        {{#if isAddWords}}
        <li class="active"><a href="/addWords">Add words</a></li>
        {{else}}
        <li><a href="/addWords">Add words</a></li>
        {{/if}}

        {{#if isTranslate}}
        <li class="active"><a href="/translate">Translate</a></li>
        {{else}}
        <li><a href="/translate">Translate</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>