<form action="/addWord" method="POST">
    <h2>Add new word</h2>

    <div class="input-field">
        <input type="text" name="origin">
        <label>New word</label>
    </div>

    <div class="input-field">
        <input type="text" name="ru">
        <label>Translate</label>
    </div>

    <button type="submit" class="btn">Add word</button>
</form>