.todo {
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

.todo-logo {
    margin-left: 55px;
}
.save-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-form {
    margin-left: 5px;
}

.todo i {
    z-index: 2;
}

.quest-word {
    display: inline;
    font-size: 5rem;
    padding: 5px;
}

.correct {
    display: inline;
    margin-left: 50px;
    color: green;
}

.wrong {
    display: inline;
    margin-left: 50px;
    color: red;
}

.reset-btn {
    float: right;
}

.wordsLeft {
    margin-top: 15px;
    font-style: oblique;
    font-size: 0.9rem;
    color: gray;
}

.score {
    margin-top: 50px;
    background: rgb(35, 165, 100);
    color: rgb(252, 251, 246);
    font-size: 3rem;
}

.score-invisible {
    display: none;
}